body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

img.logo {
    width: 125px;
}


.ffm-callout-warning {
    border-left-color: #f0ad4e;
}
.ffm-callout-error {
    border-left-color: #cd0a0a;
}
.ffm-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .50rem;
    border-radius: .50rem;
}

.ffm-callout-warning h4 {
    color: #f0ad4e;
}
.ffm-callout h4 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .25rem;
}
.ffm-callout code {
    border-radius: .25rem;
}

.ffm-table-disabled{
    opacity: .5;
    background-color: #CCCCCC !important;
}

.ffm-form-group{
    padding: 25px;
}

.ffm-items-table-remove-row{
    top: 9px;
    left: 28px;
    height: 18px;
    width: 18px;
    display: inline-block;
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    font-size: 14px;
    background-color: #ff3333;
}

.ffm-items-table-remove-row-after{
    margin-left:25px;
}

.ffm-table-padding{
    margin: 20px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
  display: block !important;
}

.table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: block !important;
}

nav li a.ffm-active {
  border-bottom: 3px solid #337ab7;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: .25rem;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

.float-xs-right {
    float: right !important;
}

.tag-default {
    background-color: #818a91;
}

.tag-charcoal {
    background-color: #337ab7;
}

.tag-orange{
    background-color: #f0ad4e;
}

.tag-grey{
    background-color: #999999;
}

.tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

